.btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40%;
    padding-bottom: 6em;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #F12D45;
    height: 3em;
    width: 100%;
    border: 1px solid #F12D45;
    border-radius: 0.25em;
    cursor: pointer;
}

.btn:hover {
    background-color: #B31E30;
    border: 1px solid #B31E30;
    transition: all 0.2s ease-in-out;
}